217-18-55-96.sslip.io {
    encode zstd gzip

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        -Server
    }

    reverse_proxy gateway:8080
}

http://217.18.55.96 {
    redir https://217-18-55-96.sslip.io{uri} permanent
}
